/* Styles for the editor to reflect the frontend */
.flip-card {
    perspective: 1000px;
    height: 100%;
    display: block;
    position: relative;
    outline: 1px solid #ccc;
}

.flip-card-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
    padding: 20px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
}

.flip-card-back {
    transform: rotateY(180deg);
}

.block-editor-block-list__block.flip-card:hover .flip-card-inner {
    transform: none !important;
}

.flip-card-back.is-selected,
.flip-card-front.is-selected {
    display: flex !important;
}   

.flip-card.is-front-selected div[aria-label="Block: Back Content"] {
    transform: rotateY(180deg);
    display: none;  
}

.flip-card.is-back-selected div[aria-label="Block: Front Content"] {
    transform: rotateY(180deg);
    display: none;
}